<footer class="site-footer">
  <div class="footer-wrapper">
    
    <div class="footer-info">
      <p class="brand-name"><strong>Nalmada Sopum Story (Everyday prop story)</strong></p>
      <p class="brand-desc">Record carefully built fabric props and warm daily life.</p>
      <p class="contact-email">E-mail: haruall1218@gmail.com</p>
      <p class="copyright">
      &copy; {{ site.time | date: "%Y" }} almada Sopum. All rights reserved.
    </p>
    </div>

    <div class="footer-links">
      <a href="https://nalmadasopum.kr/" target="_blank">Shop</a>
      <a href="{{ '/privacy/' }}">Personal Information Processing Policy</a>
      <a href="{{ '/contact/' }}">Contact us</a>
    </div>

  </div>
</footer>