<footer class="site-footer">
  <div class="footer-wrapper">
    
    <div class="footer-info">
      <p class="brand-name"><strong>날마다 소품 Story </strong></p>
      <p class="brand-desc">Record carefully built fabric props and warm daily life.</p>
      <p class="contact-email">문의: haruall1218@gmail.com</p>
      <p class="copyright">
      &copy; {{ site.time | date: "%Y" }} 날마다 소품. All rights reserved.
    </p>
    </div>

    <div class="footer-links">
      <a href="https://nalmadasopum.kr/" target="_blank">쇼핑몰 바로 가기</a>
      <a href="{{ '/privacy/' }}">개인정보 보호방침</a>
      <a href="{{ '/contact/' }}">Contact us</a>
    </div>

  </div>
</footer>