<header class="site-header">
  <div class="header-wrapper">
    
    <h1 class="site-title">
      <a href="{{ '/' }}">날마다 소품 Story</a> </h1>
    </h1>

    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/category/about/' }}">브랜드 이야기</a></li>
        <li><a href="{{ '/category/making-note/' }}">제작 노트</a></li>
        <li><a href="{{ '/category/daily/' }}">소소한 일상</a></li>

        <div class="search-box"><input type="text" id="search-input" placeholder="Search">
          <ul id="search-results"></ul></div>

        <li><a href="https://nalmadasopum.kr" target="_blank" class="shop-link">쇼핑몰 구경하기</a></li>
      </ul>
    </nav>
    
  </div>
</header>