   
    <nav class="nav">
        <div class="nav-inner">
            <div class="nav-left">
                <h1 class="site-title">
                  <a href="{{ '/' }}">날마다 소품 Story</a>
                </h1>
                <div class="desktop-menu">
                    <a href="{{ '/category/about/' }}">브랜드 스토리</a>
                    <a href="{{ '/category/making-note/' }}">제작 노트</a>
                    <a href="{{ '/category/daily/' }}">소소한 일상</a>
                </div>
            </div>
            <div class="nav-right">
                <div class="search-box">
                  <input type="text" id="search-input" placeholder="Search">
                </div>
                  <div class="lang-switch">
                    <a href="https://nalmadasopum.kr" target="_blank" class="shop-link">SHOP</a>
                    <span>|</span>
                    <a href="https://nalmadasopum.com" class="active"  title="한국어"><button>KOR</button></a>
                    <span>|</span>
                    <a href="#" title="English"><button>ENG</button></a> <!--https://en.nalmadasopum.com-->
                  </div>

                <!--<span class="material-symbols-outlined lang-icon" data-icon="language">language</span>-->
                <button class="hamburger" id="hamburger-btn">
                    <span class="material-symbols-outlined">menu</span>
                </button>
            </div>
        </div>
        
        <div class="mobile-menu" id="mobile-menu-overlay">
            <a href="https://nalmadasopum.kr" target="_blank" class="mobile-shop-link">SHOP</a>
            <a href="{{ '/category/about/' }}">브랜드 스토리</a>
            <a href="{{ '/category/making-note/' }}">제작 노트</a>
            <a href="{{ '/category/daily/' }}">소소한 일상</a>
        </div>
    </nav>


    <script>
    $(document).ready(function() {
        // 햄버거 버튼(.hamburger)을 클릭했을 때 할 일
        $('.hamburger').on('click', function() {
        // 모바일 메뉴(.mobile-menu)를 스르륵 열었다가 닫아줍니다.
        $('.mobile-menu').slideToggle(300);
        });
    });
    </script>
