---
layout: default
---

<article class="post-container">

  <header class="post-header">
    
    <p class="post-meta">
      
      {% if page.categories %}
        <span class="post-categories">Categories: {{ page.categories | join: ", " }}</span>
      {% endif %}
      <span class="meta-divider"></span>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="ad-space ad-top"><!--광고-->
    <span class="ad-text">Advertisement</span>
  </div>

  <div class="post-content">
    {{ content }}

    <div class="post-tags"> <!--해시태그-->
      {% if page.tags.size > 0 %}
        {% for tag in page.tags %}
          <a href="/tags/#{{ tag }}" class="tag-badge">#{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="ad-space ad-bottom"><!--광고-->
    <span class="ad-text">Advertisement</span>
  </div>

  <footer class="post-footer" style="display: flex; gap: 15px; justify-content: center; margin-top: 40px; flex-wrap: wrap; letter-spacing: 0.1em;">
    
  {% if page.categories.size > 0 %}
    {% assign base_url = '/category/' | append: page.categories.first | append: '/' %}
    
    {% if page.tags.size > 0 %}
      {% assign tag_filter = page.tags.first | replace: ' ', '-' %}
      <a href="{{ base_url | append: '?filter=' | append: tag_filter | relative_url }}" class="back-to-list">
        ← <b>{{ page.tags.first }}</b> LIST
      </a>
    {% endif %}

    <a href="{{ base_url | relative_url }}" class="back-to-list1">
      ← <b>{{ page.main_menu | default: '카테고리' }}</b> VIEW
    </a>
  {% endif %}

  <!--<a href="{{ '/' | relative_url }}" class="back-to-list">Home</a>-->
  
</footer>

</article>